{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tosin Ayodele - Resume</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Curriculum Vitae of Tosin Ayodele." />
    <meta charset="UTF-8" />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Message Sent</h1>
      <p>Thank you for reaching out, message has been duly recieved.</p>
      <br /><br />
      <a href="{% url 'home' %}">Go back </a>
    </div>
  </body>
</html>
