{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Tosin Ayodele - Resume</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Curriculum Vitae of Tosin Ayodele." />
    <meta charset="UTF-8" />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="wrapper">
      <h1>Message Sent</h1>
      <p>Thank you for reaching out, message has been duly recieved.</p>
      <br /><br />
      <a href="{% url 'home' %}">Go back </a>
    </div>
  </body>
</html>
