{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Tosin Ayodele - Resume</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Curriculum Vitae of Tosin Ayodele." />
    <meta charset="UTF-8" />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link type="text/css" rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link
      href="http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body id="top">
    <div id="cv">
      <div class="mainDetails">
        <div id="name">
          <h1>Tosin Ayodele</h1>
          <h2>Backend Engineer</h2>
        </div>

        <div id="contactDetails">
          <ul>
            <li>
              Email:
              <a href="mailto:devtosxn@gmail.com" target="_blank"
                >devtosxn@gmail.com</a
              >
            </li>
            <li>
              Website: <a href="https://devtosxn-resume-task.herokuapp.com/">https://devtosxn-resume-task.herokuapp.com/</a>
            </li>
            <li>Mobile: +2348178135068</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>

      <div id="mainArea">
        <section>
          <article>
            <div class="sectionTitle">
              <h1>Professional Summary</h1>
            </div>

            <div class="sectionContent">
              <p>
                A dynamic and result-oriented software engineer, dedicated to
                building efficient and innovative software solutions. I am a
                driven hands-on team-player, open to learning, quick in grasping
                new technologies and able to work in a fast-paced, deadline
                driven environment. I offer excellent problem-solving skills and
                a great attention to detail.
              </p>
            </div>
          </article>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Work Experience</h1>
          </div>

          <div class="sectionContent">
            <article>
              <h2>Software Engineer Intern at Decagon</h2>
              <p class="subDetails">Feb 2021 - Present</p>
              <p>
               ●  Built consumable REST APIs with business logic embedded in the implementation together with a team for the frontend client of an e-learning platform
               <br/> ●  Built reusable components using React and CSS-in-JS for the client side of the e-learning platform while consuming REST APIs built on the backend and composed relevant components together to implement business requirements <br/>
              ●   Handled Database Management System with SQL like MySQL, Postgres, or NoSQL databases like MongoDB. </br>
            ●   Experience with writing unit and integration test. <br/>
            ●   Exposure to Agile methodologies. <br/>
            ●   Exposure to working in remote conditions. <br/>
              </p>
            </article>

            <article>
              <h2>Software Engineer Intern at DevsCareer</h2>
              <p class="subDetails">May 2020 - August 2020</p>
              <p>
                ●   Collaborated with the team to develop landing page for a modern
                cryptocurrency solution. <br/> ●  Implemented a web application that
                allows users to create, edit, and delete their own blog posts
              </p>
            </article>

            <article>
              <h2>IT Support Staff at PANAF Schools, Kaduna</h2>
              <p class="subDetails">July 2019 - August 2020</p>
              <p>
                ●   Supported and maintained the school's network and infrastructure.<br/>
                ●   Provided technical support to the school's staff and students. </br>
                ●   Organized and managed media team for school's events.
              </p>
            </article>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Skills</h1>
          </div>

          <div class="sectionContent">
            <ul class="keySkills">
              <li>Python</li>
              <li>Django</li>
              <li>Django Rest Framework</li>
              <li>Javascript</li>
              <li>React</li>
              <li>Bootstrap</li>
              <li>Git</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <li>Docker</li>
            </ul>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Education</h1>
          </div>

          <div class="sectionContent">
            <article>
              <h2>University of Ibadan</h2>
              <p class="subDetails">September 2014 - June 2019</p>
              <p>BSc. Industrial & Production Engineering</p>
            </article>
          </div>
          <div class="clear"></div>
        </section>

        <section>
          <div class="sectionTitle">
            <h1>Contact</h1>
          </div>

          <div class="sectionContent">
            <article>
              <div class="container">
                <form method="POST" action="{% url 'contact' %}" id="contact">
                {% csrf_token %}
                  <fieldset>
                    <label for="name">Name</label><br /></br/>
                    <input
                      id="name"
                      placeholder="Your name"
                      type="text"
                      tabindex="1"
                      required
                      autofocus
                    />
                  </fieldset>
                  <fieldset>
                    <label for="email">Email Address</label><br /></br/>
                    <input
                      id="email"
                      placeholder="Your Email Address"
                      type="email"
                      tabindex="2"
                      required
                    />
                  </fieldset>
                  <fieldset>
                    <label for="message">Message</label><br /></br/>
                    <textarea
                      id="message"
                      placeholder="Type your message here...."
                      tabindex="5"
                      required
                    ></textarea>
                  </fieldset>
                  <fieldset>
                    <button
                      name="submit"
                      type="submit"
                      id="contact-submit"
                      data-submit="...Sending"
                    >
                      Submit
                    </button>
                  </fieldset>
                </form>
              </div>
              
            </article>
          </div>
          <div class="clear"></div>
        </section>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li>
          <a href="https://www.twitter.com/tosxndc" target="_blank"
            ><i class="fab fa-twitter fa-lg"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tosxndc/" target="_blank"
            ><i class="fab fa-linkedin fa-lg"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/devtosxn" target="_blank"
            ><i class="fab fa-github fa-lg"></i
          ></a>
        </li>
        <li>
          <a href="https://zuri.team" target="_blank"><img id="hng"src="{% static 'images/hng-logo.jpeg' %}" alt="Zuri" /></a>
        </li>
      </ul>
    </div>
  </body>
</html>
